.file-upload {
    margin-bottom: 15px;
}
.file-upload .dragAndDropDescription {
  border: 3px dashed #e1e2e3;
  vertical-align: middle;
  padding: 0 20px;
}

.file-upload .dragAndDropDescription p {
  vertical-align: middle;
  color: #1567ce;
  font-weight: 400;
  line-height: 1.3em;
  margin: 40px auto 40px;
  display: block;
}

.file-upload .progress-bar {
  min-width: 2em;
}

.file-upload label {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.file-upload .filename {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.file-upload .errorMsg {
  display: block;
  margin-bottom: 5px;
}

.file-upload > .row {
  margin-bottom: 10px;
}
.file-upload > .list-group > .list-group-item {
  margin: 0;
}
.file-upload > .list-group > .list-group-item .mb-sm{
  margin: 0;
}
.file-upload #fileInputButton {
  margin-top: 15px;  
}
.has-error.border-danger {
  border-color: #f05050;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb {
  margin-bottom: 10px !important;
}



.progress {
  -webkit-transition: color 0.6s, background-color 0.3s;
-moz-transition: color 0.6s, background-color 0.3s;
-ms-transition: color 0.6s, background-color 0.3s;
transition: color 0.6s, background-color 0.3s;

  &.ng-enter {
  -webkit-animation: fadeInLeft 1s;
  -moz-animation: fadeInLeft 1s;
  -ms-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
}

&.ng-leave {
  -webkit-animation: bounceOut 1s;
  -moz-animation: bounceOut 1s;
  -ms-animation: bounceOut 1s;
  animation: bounceOut 1s;
}
}



.dropbox {
  width: 15em;
  height: 15px;
  border: 2px solid #DDD;
  border-radius: 8px;
  background-color: #FEFFEC;
  text-align: center;
  color: #BBB;
  font-size: 2em;
  font-family: Arial, sans-serif;
}
.dropbox span {
  margin-top: 0.9em;
  display: block;
}
.dropbox.not-available {
  background-color: #F88;
}
.dragover {
  border: #bfb 5px dashed !important;